@import url("https://fonts.googleapis.com/css?family=Quicksand");
@font-face {
  font-family: "School Book";
  src: url("../fonts/School Book New.eot");
  src: url("../fonts/School Book New.eot") format("embedded-opentype"), url("../fonts/School Book New.woff") format("woff2"), url("../fonts/School Book New.woff") format("woff"), url("../fonts/School Book New.ttf") format("truetype"), url("../fonts/School Book New.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #f6f6f6;
  font-family: "Quicksand", sans-serif; }

.school-book {
  font-family: "School Book", sans-serif; }

a:hover {
  text-decoration: none; }

.mt-0 {
  margin-top: 0; }

.mb-30 {
  margin-bottom: 30px; }

.ml-10 {
  margin-left: 10px; }

.mt-15 {
  margin-top: 15px; }

#navbar {
  width: 100vw;
  background: #194bff;
  background: -moz-linear-gradient(left, #194bff 0%, #36edb6 57%, #31d670 100%);
  background: -webkit-linear-gradient(left, #194bff 0%, #36edb6 57%, #31d670 100%);
  background: linear-gradient(to right, #194bff 0%, #36edb6 57%, #31d670 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194bff', endColorstr='#31d670',GradientType=1 );
  height: 60px; }
  #navbar #menu-buttons-right a {
    color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 10px 10px 10px 0; }
  #navbar #menu-buttons-right #username {
    color: white;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin-right: 20px; }
  #navbar #menu-btn {
    color: white;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
    cursor: pointer; }

#side-menu {
  height: calc(100vh - 60px);
  background-color: white;
  width: 60px;
  position: absolute;
  left: 0;
  top: 60px; }
  #side-menu ul {
    list-style: none;
    padding-left: 0; }
    #side-menu ul a {
      display: block;
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 22px;
      color: #194bff;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      #side-menu ul a:hover {
        background-color: #194bff;
        color: white; }

#side-menu-details {
  height: calc(100vh - 60px);
  position: absolute;
  width: 170px;
  left: 60px;
  top: 60px;
  background-color: white;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  box-shadow: 4px 13px 7px rgba(157, 157, 157, 0.12); }
  #side-menu-details.open {
    opacity: 1;
    visibility: visible; }
  #side-menu-details ul {
    list-style: none;
    padding-left: 0; }
    #side-menu-details ul a {
      display: block;
      width: 100%;
      height: 60px;
      line-height: 60px;
      font-family: "School Book", sans-serif;
      font-size: 16px;
      padding-left: 15px;
      color: #194bff;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      #side-menu-details ul a:hover {
        background-color: #194bff;
        color: white; }

#page-content {
  width: calc(100vw - 60px);
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 60px);
  margin-left: 60px;
  padding: 40px; }

.dashboard-card {
  background-color: white;
  border: 0.5px solid #e3e3e3;
  border-radius: 4px;
  padding: 30px;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .dashboard-card h1 {
    font-family: "School Book", sans-serif;
    color: #31d670; }
  .dashboard-card p {
    font-size: 18px;
    font-family: "Quicksand", sans-serif; }
  .dashboard-card:hover {
    box-shadow: 5px 7px 11px rgba(157, 157, 157, 0.12); }
  .dashboard-card a {
    display: inline-block;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: #31d670;
    color: white;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.6; }
  .dashboard-card:hover a {
    opacity: 1; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-66%); }

.btn {
  border-radius: 4px;
  color: gray;
  border: 1px solid gray;
  background-color: transparent;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .btn.green, .btn.turquoise, .btn.blue {
    color: white; }
  .btn.green {
    background-color: #31d670;
    border-color: #31d670; }
    .btn.green:hover {
      background-color: #2ca852;
        background-color-border-color: #2ca852; }
  .btn.blue {
    background-color: #194bff;
    border-color: #194bff; }
    .btn.blue:hover {
      background-color: #163196;
      border-color: #163196; }
  .btn.turquoise {
    background-color: #36edb6;
    border-color: #36edb6; }
    .btn.turquoise:hover {
      background-color: #2bb085;
      border-color: #2bb085; }

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #31d670;
  padding: 10px;
  width: 100%; }
  input:focus {
    outline: transparent; }

select {
  background-color: transparent;
  border: #31d670;
  width: 100%;
  padding: 10px; }
  select:focus {
    outline: transparent; }

textarea {
  background-color: transparent;
  border: 1px solid #31d670;
  padding: 10px;
  width: 100%; }
  textarea:focus {
    outline: transparent; }

ul.unstyled {
  list-style: none;
  padding-left: 0; }

thead {
  background-color: #31d670;
  color: white; }

.table > thead > tr > th {
  border-bottom: none; }

tr:hover {
  background-color: rgba(49, 214, 112, 0.49); }

#loginpage {
  position: relative; }

#loginbg {
  height: 100vh;
  width: 100vw;
  object-fit: cover; }

.bg-overlay {
  background: rgba(25, 75, 255, 0.66);
  background: -moz-linear-gradient(left, rgba(25, 75, 255, 0.65) 0%, rgba(54, 237, 182, 0.65) 57%, rgba(49, 214, 112, 0.65) 100%);
  background: -webkit-linear-gradient(left, rgba(25, 75, 255, 0.65) 0%, rgba(54, 237, 182, 0.65) 57%, rgba(49, 214, 112, 0.66) 100%);
  background: linear-gradient(to right, rgba(25, 75, 255, 0.65) 0%, rgba(54, 237, 182, 0.66) 57%, rgba(49, 214, 112, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194bff', endColorstr='#31d670',GradientType=1 );
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center; }

#login-box {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 4px;
  padding: 40px 30px;
  width: 310px; }
  #login-box button {
    width: 100%;
    margin-top: 20px; }

.green-text {
  color: #31d670; }

#side-menu a.active i, #side-menu-details a.active i {
  border-radius: 8px;
  border: 1px solid #194bff;
  padding: 9px;
  background: #194bff;
  color: white; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin: 10vh auto;
  height: 80vh; }

.close {
  color: #6e6e6e;
  float: right;
  font-size: 36px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  color: #f2f2f2; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
  cursor: pointer; }

input[type="checkbox"]:checked + label span {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  color: #f2f2f2;
  font-family: Arial, sans-serif; }

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
  cursor: pointer; }

input[type="radio"]:checked + label span {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat; }

.student-table td:nth-child(2) {
  text-align: center; }

.modal-table {
  height: calc(100% - 120px);
  overflow-y: auto; }

.modal-buttons-section {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: right;
  right: 20px; }
  .modal-buttons-section .btn {
    margin-left: 10px; }

.breadcrumb {
  background: #194bff;
  background: -moz-linear-gradient(left, #194bff 0%, #36edb6 57%, #31d670 100%);
  background: -webkit-linear-gradient(left, #194bff 0%, #36edb6 57%, #31d670 100%);
  background: linear-gradient(to right, #194bff 0%, #36edb6 57%, #31d670 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194bff', endColorstr='#31d670',GradientType=1 ); }
  .breadcrumb a {
    color: white; }

.breadcrumb > .active {
  color: #35ebb2; }

/*# sourceMappingURL=custom.css.map */
